body{
    margin: 0;
    background-color:blanchedalmond;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1{
    margin:50px auto 0;
    width: 20%;
    font-family: 'Satisfy',cursive;
    font-size: 400%;
    color: #66bfbf;
}
.p1{
    margin: 8px auto 8px;
    font-size: 1.5rem;
    color: #66bfbf;
    font-weight: normal;
    line-height: 2;
}
.top{
    background-color: #def4f0;
    position: relative;
    padding-top:100px ;
}
.middle-container{
  
}
.bottom-container{
   
}
.bottom-cloud{
    position: absolute;
    
}
.top-cloud{
    position: absolute;
    right: 300px;
    top: 50px;
  
}
.logo1{
    border-radius: 50%;
    display: block;
    width: 200px;
    height: 200px;
    margin: 0 auto;
}
.logo2{
    border-radius: 50%;
    display: block;
    width: 200px;
    height: 200px;
    margin: 0 auto;
}
.logo{
    display: block;
    width: 200px;
    height: 200px;
    margin: 10px auto 0;
    
}
a{
    color:#11999e ;
    text-decoration: none;
}
a:hover{
    color:#c01e1e;
}
h2{
    color:#66bfbf;
}
h3{
    color: #11999e;
}
